.div-first{
  max-width: 100%;
  height: auto;
  min-width: 0;
}
.div-intro{
  box-sizing: border-box;
}
.ad-layout{
  display: flex;
  align-items: center;
  border-image-repeat: stretch;
  font-weight: 400;
  box-sizing: border-box;
  justify-content: center;
  border-color: rgb(14,14,16);
  border-style: none ;
  font-size: 13px;
  font-stretch: 100%;
  line-height: 19.5px;
  border-color: rgb(28,30,33);
  height: 350px;
}
.div-frame{
position: absolute;
display: flex;
height: 350px;
align-items: center;
justify-content: center;
width: 100%;
top: 50px;
left:240px;
}
.main-video{
padding-left: 420px;
vertical-align: middle;
z-index: 201;
margin-right: 650px;
}
.add-left{
position: absolute;
left:240px;
right: 350px;
top: 50px;
z-index: 200;
width: 450px;
height: 350px;

}
.add-right{
position: absolute;
right: 0;
top:50px;
z-index: 200;
width: 450px;
height: 350px;
}
.blue-space{
height: 350px;
width: 100%;
color: #0066c0;
background-color:rgb(7, 36, 129);
display: inline-block;
}
.div-align{
height: 300px;
width: auto;
margin-right: 130px;
margin-left: 100px;

margin-bottom: 50px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
vertical-align: middle;
}

.button-right, .button-left{
position:absolute;
z-index: 201;
height: 33px;
width: 33px;
display: flex;
align-items: center;
justify-content: center;
vertical-align: middle;

}

.img-go-right, .img-go-left{
height: 24px;
width: 24px;
}
.div-seperater{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: 26px;
  margin-left: -7px;
  font-weight: bold;
  font-size: 18px;
  vertical-align: baseline;
  line-height: 19.5px;
}
.a-content{
  color: rgb(92, 22, 197);
}
.video-flex {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.video-preview{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  padding-left: 10px;
  
}
.thumbnail-row {
  position: relative;
  justify-content:flex-start;
  align-items: flex-start;
  flex-basis: "min-content";
  width: 100%;
}
.div-live{
  background-color: rgb(235,4,0);
  color: white;
  position: absolute;
  z-index: 200;
  font-weight: 500;
  font-size: 13px;
  border-radius: 4px;
  top:20px;
  left:20px;
  padding-left: 4px;
  padding-right: 4px;
}

.thumbnail {
  flex: 1;
  flex-wrap: nowrap;
  margin:10px;
  box-shadow:0 0 red;
  transition:0.5s;
  vertical-align: top;
  
  max-width: 100%;
  height: auto;
  min-width: 0;
}

.thumbnail:hover {
  box-shadow:-5px 5px red;
  transform:translate(5px,-5px);
}
.video-audience{
  background-color: rgba(14,14,16,.6);
  color: white;
  position: absolute;
  z-index: 200;
  font-weight: 300;
  font-size: 13px;
  bottom: 25px;
  left:25px;
  border-radius: 4px;
}
.video-info-flex {
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-basis: "min-content";
    width: 100%;
  }
.channel-picture{
    padding-right: 10px;
    padding-top: 5px;
      
}
.profile-picture {
    width: 40px;
    border-radius: 20px;
  }
.video-info{
    
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
     
  }
.video-title {
    flex:1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(99%);
    color: rgb(0,0,0);
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
  }
.video-author, .video-content {
    font-size: 12px;
    color: rgb(96, 96, 96);
  }
.div-tag-big{
    display: flex;
    font-size: 12px;
    justify-content: flex-start;
    min-width: 0;
    line-height: 18px;
    font-weight: bold;
    overflow: visible;
    flex-wrap: wrap;
  }
.div-tag{
    cursor: pointer;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    color: rgba(14, 12, 12, 0.658);
    border-radius: 10px;
    background-color: rgba(85, 85, 85, 0.08);
  }
  @media (max-width: 900px) {
    .add-left, .add-right{
      position: absolute;
      left: -9999px;
      display: none !important;
    }
  }